@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./assets/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./assets/fonts/Playfair_Display/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  color: white;
}

#root {
  background-image: url('/public/images/logo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .5s ease-in-out;
}

/* body::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100dvh;
height: 100dvh;
background-image: url("/images/logo.jpg");
background-size: auto;
background-repeat: repeat;
background-position: center;
opacity: 0.9;
z-index: -1;
} */

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

a:hover {
  color: white;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #81ce5d;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input[type="text"],
textarea {
  border: 1px solid rgba(0, 0, 0, .2);
  padding: 10px 20px;
  background-color: rgba(44,57,68, 0.9);
  color: white;
  transition: all .2s ease-in-out;
}

.container-recipe {
  padding: 20px 20px;
  background-color: rgba(44, 57, 68, 0.7);
  color: white;
  transition: all .2s ease-in-out;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  ;
  margin-bottom: 1rem;
  background-color: rgba(44, 57, 68, 0.5);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: white;
  }

  button {
    background-color: #f9f9f9;
  }
}